page-indikator {
  .panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 2px solid #c6c6c64f;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }

  .panelItems{
    color: white;
    box-shadow: 5px 4px 5px 1px #cbcbcb;
  }
  .panelHeader{
    background-color: #2ecc71;
    padding: 5px;
  }
  .panelIcon{
    position: relative;
  }
  .panelIcon ion-icon{
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .PanelHeaderText p{
    margin: 0px 0px 6px 0px;
  }

  .panelBody{
    padding: 10px;
  }

  .panelBody table{
    width: 100%
  }

  .panelBody table tbody tr td{
    color: #000;
  }
}
